<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
		<footer class="bg-light text-dark py-4 mt-5" data-th-fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h5>Facultad de Ingeniería de Jujuy</h5>
						<p>Dirección: Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy.</p>
						<p>Teléfono: +54 388 439-5911</p>
						<p>Email: info@fi.unju.edu.ar</p>
					</div>
					
					<div class="col-md-4">
						<h5>Redes Sociales</h5>
						 <ul class="list-unstyled">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>					  					                        
							<li><a href="#">LinkedIn</a></li>					  					                       
						  </ul>
					</div>
				</div>
				<div class="text-center mt-3">
					<p>&copy; Copyright 2014-2024. Facultad de Ingeniería - UNJu.</p>
				</div>
			</div>
		</footer>  
</body>
</html>